NODE_ENV='development'

DISCORD_TOKEN=your-bot-token-here
BOT_ON_HEVY_AUTH_TOKEN=your-hevy-auth-token-here
BOT_ON_HEVY_USERNAME=ChevyBot
DATABASE_URL="your-database-url-here"
POSTHOG_API_KEY=""
POSTHOG_HOST=""

CHEVY_LIVE_ACTIVITY_WEBHOOK_URL=""

CHEVY_AUTO_SHARE_TASK_SCHEDULE="*/10 * * * *"
CHEVY_BULLMQ_REDIS_HOST=""
CHEVY_BULLMQ_REDIS_HOST="localhost"

CHEVY_LIVE_ACTIVITY_WEBHOOK_URL=""

CHEVY_VERIFICATION_TASK_SCHEDULE="*/5 * * * *"

CHEVY_VERIFICATION_CODE_LENGTH=12
CHEVY_VERIFICATION_WORKOUT_SHORT_ID=""
