NODE_ENV=development

DISCORD_TOKEN=your-bot-token-here
BOT_ON_HEVY_AUTH_TOKEN=your-hevy-auth-token-here
BOT_ON_HEVY_USERNAME=ChevyBot
DATABASE_URL=your-database-url-here
POSTHOG_API_KEY=posthog-api-key
POSTHOG_HOST=posthog-host

CHEVY_LIVE_ACTIVITY_WEBHOOK_URL=chevy-activity-webhook-url

CHEVY_AUTO_SHARE_TASK_SCHEDULE=chevy-auto-share-task-schedule
CHEVY_BULLMQ_REDIS_HOST=chevy-bullmq-redis-host

CHEVY_LIVE_ACTIVITY_WEBHOOK_URL=chevy-live-activity-webhook-url

CHEVY_VERIFICATION_TASK_SCHEDULE=chevy-verification-task-schedule

CHEVY_VERIFICATION_CODE_LENGTH=chevy-verification-code-length
CHEVY_VERIFICATION_WORKOUT_SHORT_ID=chevy-verification-workout-short-id
