DISCORD_TOKEN=your-bot-token-here
DISCORD_CLIENT_ID=your-client-id-here
DISCORD_GUILD_ID=your-guild-id-here
BOT_ON_HEVY_AUTH_TOKEN=your-hevy-auth-token-here
BOT_ON_HEVY_USERNAME=Chevy
DATABASE_URL="your-database-url-here"
DISCORD_DEV_GUILD_ID=""
DISCORD_DEV_USER_ID=""